#browse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#filter{
    grid-column: 1/2;
    background-color: #131617;
    border: solid 1px;
}


#filter h2{
    text-align: center;
}

#filter > div > h3 {
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--dimmed-color);
    border-bottom: 1px solid var(--faded-color);
}

@keyframes borderglow {
    0% {
        box-shadow: 0 0 5px var(--filter-glow-color) inset;
    }
    50% {
        box-shadow: 0 0 20px var(--filter-glow-color) inset;
    }
    100% {
        box-shadow: 0 0 5px var(--filter-glow-color) inset;
    }
}

#filter > div > div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ffffff;
}

.checked {
    background-color: var(--filter-highlight-color);
    animation: borderglow 3s infinite;
}

#items{
    grid-column: 2/4;
    background-color: #131617;
    border: solid 1px;
}

#product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    grid-gap: 10px;
}

.product{
    height: 250px;
    width: 300px;
    border: 1px solid #ffffff;
}

.removeFiltersBtn {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    width: 105px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: rgb(237, 237, 188);
    border-radius: 5px;
}