#browse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#filter{
    grid-column: 1/2;
    background-color: #131617;
    border: solid 1px;
}


#filter h2{
    text-align: center;
}

#items{
    grid-column: 2/4;
    background-color: #131617;
    border: solid 1px;
}

@keyframes borderglow {
    0% {
        box-shadow: 0 0 5px var(--filter-glow-color) inset;
    }
    50% {
        box-shadow: 0 0 20px var(--filter-glow-color) inset;
    }
    100% {
        box-shadow: 0 0 5px var(--filter-glow-color) inset;
    }
}
.color-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ffffff;
}

.checked {
    background-color: var(--filter-highlight-color);
    animation: borderglow 3s infinite;
}

#product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    grid-gap: 10px;
}

.product{
    height: 200px;
    width: 200px;
    border: 1px solid #ffffff;
}