#browse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#filter{
    grid-column: 1/2;
    background-color: #131617;
    border: solid 1px;
}


#filter h2{
    text-align: center;
}

#items{
    grid-column: 2/4;
    background-color: #131617;
    border: solid 1px;
}

.color-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ffffff;
}

#product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    grid-gap: 10px;
}

.product{
    height: 200px;
    width: 200px;
    border: #131617;
}