#sections{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.cartItem{
    grid-column: 1/3;
}

.carColor{
    grid-column: 3/4;
}

.cartSize{
    grid-column: 4/5;
}

.cartPrice{
    grid-column: 5/6;
}

.cartQuantity{
    grid-column: 6/7;
}

.cartSubtotal{
    grid-column: 7/8;
}

p{
    text-align: center;
}