/* keep the sections grid layout */
#sections{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

/* column placement for header labels */
.cartItem{
    grid-column: 1 / 3; 
}
.cartColor{
    grid-column: 3 / 4; 
}
.cartColor > div {
    border: 1px solid var(--nav-hover-color);
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cartSize{   
    grid-column: 4 / 5; 
}
.cartPrice{   
    grid-column: 5 / 6; 
}
.cartQuantity{
    grid-column: 6 / 7; 
}
.cartSubtotal{
    grid-column: 7 / 8; 
}

.cartSection{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.cartSection img {
    width: auto;
    height: auto;
    object-fit: cover;
    flex: 0 0 80px;
}

.cartProductName {
    margin: 0;
    line-height: 1.1;
    font-weight: 600;
}

.cartItem,
.cartColor,
.cartSize,
.cartPrice,
.cartQuantity,
.cartSubtotal {
    display: flex;
    align-items: center;
    justify-content: center;
}

#shipping, #summary {
    margin-top: 1rem;
}

#shipping{
    text-align: center;
    grid-column: 1/3;
}

#choices{
    border: solid;
    background-color: rgb(64, 67, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#choices select {
    width: 150px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#summary {
    grid-column: 5/8;
    text-align: center;
}

#pay{
    grid-column: 7/8;
}