:root {
    --text-color: white;
    --a-color: white;
}

body{
    margin: 0;
    background-color: black;
    color: var(--text-color);
}

header {
    grid-row: 1;
    grid-column: 1/3;
    min-height: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    border: solid black; 
    border-width: 3px 0px;
    height: 50px;
    background-color: #282A35;
}

nav > a {
    padding: 1% 1% 1% 1%;
    font-size: large;
    font-weight: bold;
    color: var(--a-color);
    padding: 5px 25px;
}

.hidden{
  display: none !important;
}

a {
    color: var(--a-color);
}