/* --------------------------- Main elements. */

:root {
    --text-color: white;
    --a-color: white;
    --semantics-bg-color: #282A35;
    --dimmed-color: rgb(197, 197, 197);
}

body{
    margin: 0;
    background-color: black;
    color: var(--text-color);
}

header {
    grid-row: 1;
    grid-column: 1/3;
    min-height: 50px;
    background-color: var(--semantics-bg-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    border: solid black; 
    border-width: 3px 0px;
    height: 50px;
}

nav > a {
    padding: 1% 1% 1% 1%;
    font-size: large;
    font-weight: bold;
    color: var(--a-color);
    padding: 5px 25px;
}

a:link {
    text-decoration: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--semantics-bg-color);
}

/* --------------------------- Special classes. */
.hidden {
  display: none !important;
}

.dimmed {
    color: var(--dimmed-color);
}