/* --------------------------- Main elements. */

:root {
    --text-color: white;
    --a-color: white;
    --semantics-bg-color: #282A35;
    --nav-hover-color: #46495c;
    --dimmed-color: rgb(197, 197, 197);
}

body{
    margin: 0;
    background-color: black;
    color: var(--text-color);
}

header {
    grid-row: 1;
    grid-column: 1/3;
    background-color: var(--semantics-bg-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    border: solid black; 
    border-width: 3px 0px;
}

nav > div {
    flex-grow: 1;
    height: 3.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

nav > div:hover {
    background-color: var(--nav-hover-color);
}

nav > div > p {
    padding: 1% 1% 1% 1%;
    font-size: large;
    font-weight: bold;
    color: var(--a-color);
    padding: 5px 25px;
}

#navcart > img {
    filter: invert(100%);
}
#navcart > p {
    padding: 0;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--semantics-bg-color);
}

/* --------------------------- Special classes. */
.hidden {
  display: none !important;
}