/* --------------------------- Main elements. */

:root {
    --text-color: white;
    --a-color: white;
    --semantics-bg-color: #282A35;
    --nav-hover-color: #46495c;
    --dimmed-color: rgb(197, 197, 197);
    --faded-color: #303341;
    --filter-highlight-color: #2c3357;
    --filter-glow-color: #4a5694;
    --image-border-color: #ccc;
    --dark-border-color: black;
    --selection-border-color: #00e1ff;
    --success-color: rgb(17, 138, 17);
}

body{
    margin: 0;
    background-color: black;
    color: var(--text-color);
}

header {
    grid-row: 1;
    grid-column: 1/3;
    background-color: var(--semantics-bg-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;     
    border: solid black; 
    border-width: 3px 0px;
}

nav > div {
    width: 20%;
    height: 3.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

nav > div:hover {
    background-color: var(--nav-hover-color);
}

nav > div > p {
    padding: 1% 1% 1% 1%;
    font-size: large;
    font-weight: bold;
    color: var(--a-color);
    padding: 5px 25px;
}

nav > div > img {
    filter: invert(100%);
}
nav > div > p {
    padding: 0;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h3 {
    margin: 0.5rem 0;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--semantics-bg-color);
}

/* --------------------------- Special classes. */
.hidden {
  display: none !important;
}

.dimmed {
    color: var(--dimmed-color);
}

.navhighlight {
    background-color: var(--nav-hover-color);
}