/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.banner {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.75s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2{
  margin: 3rem 0 1rem 0;
  border-top: 1px solid var(--dimmed-color);
  padding: 2rem 0 1rem 0;
  text-align: center;
}

#feature{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 3rem 0;
}
#feature > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg-color);
  border-radius: 1rem;
  border: 2px solid var(--light-border-color);
  padding: 2rem;
}
#feature > div > div {
  width: 100%;
}
#feature > div > .f-img {
  background-image: url("../images/placeholder_item.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  border: 1px solid var(--light-border-color);
  height: 20rem;
  color: red;
}
