/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.banner {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.75s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}