#singleproduct {
    padding: 2rem;
}

#breadcrumb {
    padding: 1rem 0;
}

#sp-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sp-main-image, #sp-small-image-container > img {
    background-color: var(--semantics-bg-color);
    border: 1px solid var(--image-border-color);
    color: var(--text-color);
    border-radius: 8px;
}

#sp-small-image-container {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}

#sp-details {
    padding: 0 2rem;
}

#sp-quantity {
    height: 1.5rem;
}

#sp-sizes, #sp-colors {
    display: flex;
    gap: 1rem;
    margin: 0 0 1.5rem 0;
}

.sp-size, .sp-color {
    border: 1px solid var(--nav-hover-color);
    background-color: var(--text-color);
    color: var(--dimmed-color);
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Special classes */
.selected {
    border: 2px solid var(--selection-border-color);
}

#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--success-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0.35rem;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
  transform: translateY(1rem);
}

#toast.show {
  opacity: 1;
  transform: translateY(0);
}